@charset "UTF-8";
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif; }

.body {
  min-width: 1200px; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff; }
  .header__container-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .header__logo {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    width: 68px;
    height: 68px;
    margin-top: 10px;
    margin-right: 30px;
    background-image: url("../img/header/logo.png");
    background-size: cover; }
  .header__name {
    font-size: 12px;
    line-height: 16px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgba(64, 95, 168, 0.659); }
  .header__description {
    font-size: 18px;
    font-family: "Roboto";
    color: #405fa8;
    text-align: center; }
    .header__description-bold {
      display: block;
      font-weight: bold;
      line-height: 1.4;
      text-transform: uppercase; }
  .header__adress {
    font-size: 18px;
    line-height: 24px;
    font-family: "Roboto";
    color: #333333;
    text-align: left; }
  .header__working {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .header__working-item {
      font-size: 12px;
      line-height: 16px;
      font-family: "Roboto";
      font-weight: 300;
      color: #333333;
      text-align: left; }
  .header__call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__call-phone {
      font-size: 18px;
      line-height: 22px;
      font-family: "Roboto";
      color: #405fa8;
      font-weight: bold;
      text-align: center;
      margin-bottom: 3px; }
    .header__call-button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 152px;
      height: 26px;
      text-decoration: none;
      border-style: solid;
      border-width: 1px;
      border-color: #005ead;
      border-radius: 12px;
      background-color: #fff;
      color: #005ead;
      font-size: 12px;
      text-transform: uppercase; }
      .header__call-button:hover {
        color: #fff;
        background-color: #005ead;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease; }

@media all and (max-width: 1200px) {
  .header__adress,
  .header__working {
    display: none; } }
@media all and (max-width: 960px) {
  .header__description,
  .header__name {
    display: none; }

  .header {
    height: 50px; }
    .header__logo {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      width: 30px;
      height: 30px;
      margin: 0; }
    .header__call {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-flex: 2;
      -webkit-flex-grow: 2;
          -ms-flex-positive: 2;
              flex-grow: 2; }
    .header__container-logo {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
@media all and (max-width: 400px) {
  .header__logo {
    display: none; }

  .header__call {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
.navbar {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
  background: #fff;
  width: 100%;
  height: 50px;
  will-change: unset; }
  .navbar__logo {
    width: 30px;
    height: 30px;
    background-image: url("../img/header/logo.png");
    background-size: cover; }
  .navbar__call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 152px;
    height: 26px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #005ead;
    border-radius: 12px;
    background-color: #fff;
    color: #005ead;
    font-size: 12px;
    text-transform: uppercase; }
    .navbar__call:hover {
      color: #fff;
      background-color: #005ead;
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease; }
  .navbar__phone {
    font-size: 18px;
    line-height: 22px;
    font-family: "Roboto";
    color: #405fa8;
    font-weight: bold;
    text-align: center; }

.navbar_fixied {
  z-index: 103;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  will-change: transform; }

.fornavbar {
  height: 3000px; }

@media all and (max-width: 400px) {
  .navbar {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .navbar__logo {
      display: none; } }
.offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 590px;
  background: url("../img/offer/background.jpg") no-repeat center;
  background-size: cover; }
  .offer-information {
    width: 360px;
    height: 100%;
    padding-top: 60px; }
    .offer-information__header {
      font-size: 42px;
      font-family: "Roboto";
      color: #405fa8;
      font-weight: bold;
      line-height: 1.19; }
    .offer-information__line {
      width: 124px;
      height: 1px;
      margin: 20px 0;
      background-color: #fff; }
    .offer-information__list {
      padding-left: 17px;
      margin: 0; }
      .offer-information__list-item {
        font-size: 18px;
        font-family: "Roboto";
        color: white;
        line-height: 1.333;
        text-align: left;
        margin-bottom: 10px; }
  .offer-sign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    height: 100%;
    padding-top: 65px; }
    .offer-sign__header {
      display: block;
      font-size: 24px;
      font-family: "Roboto";
      color: white;
      line-height: 1.167;
      text-align: left;
      margin-bottom: 20px; }
    .offer-sign__description {
      display: block;
      font-size: 18px;
      font-family: "Roboto";
      color: #ff9e02;
      line-height: 1.333;
      text-align: left;
      margin-bottom: 30px; }
    .offer-sign__form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 260px; }
      .offer-sign__form-label {
        font-size: 14px;
        font-family: "Roboto";
        color: white;
        line-height: 1.571; }
      .offer-sign__form-input {
        width: 260px;
        height: 40px;
        border: 1px solid #fff;
        background-color: #9ca0a5;
        margin-bottom: 10px;
        padding: 0 10px;
        font-size: 16px;
        font-family: "Roboto";
        color: #405fa8;
        line-height: 1.375; }
        .offer-sign__form-input_error {
          border: 1px solid red; }
      .offer-sign__form-submit {
        width: 260px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #005ead;
        background-color: #005ead;
        color: #fff;
        text-transform: uppercase;
        margin-top: 15px; }
        .offer-sign__form-submit:hover {
          color: #fff;
          border-color: #fff;
          background-color: transparent;
          -webkit-transition: all 0.3s ease;
                  transition: all 0.3s ease; }
      .offer-sign__form-error {
        display: none; }
        .offer-sign__form-error_active {
          display: block;
          font-size: 14px;
          color: red; }

@media all and (max-width: 1000px) {
  .offer {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 70px; }
    .offer-information {
      padding-top: 30px; }
    .offer-sign__form {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; } }
@media all and (max-width: 400px) {
  .offer-information {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

  .offer-sign {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }
.key-advantage {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 100%;
  padding: 70px 0;
  background-image: url("../img/header/bottom-line.png");
  background-size: 50%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box; }
  .key-advantage-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    height: 240px;
    overflow: hidden; }
    .key-advantage-item__rectangle {
      position: absolute;
      top: 28px;
      left: 30px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      display: block;
      width: 140px;
      height: 140px;
      border-radius: 2px;
      background-color: #f4f6fa;
      z-index: 100; }
    .key-advantage-item__description {
      position: relative;
      display: block;
      height: 70px;
      font-size: 16px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.5;
      text-align: center;
      z-index: 101; }
    .key-advantage-item__image {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .key-advantage-item__image1 {
      background: url("../img/header/year.png") no-repeat center; }
    .key-advantage-item__image2 {
      background: url("../img/header/cars.png") no-repeat center; }
    .key-advantage-item__image3 {
      background: url("../img/header/garanty.png") no-repeat center; }
    .key-advantage-item__image4 {
      background: url("../img/header/certificate.png") no-repeat center; }

.key-advantage__decor {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .key-advantage__decor-image {
    padding-top: 25px; }

@media all and (max-width: 1000px) {
  .key-advantage {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 20px; }
    .key-advantage-item {
      margin: 0 7vw;
      margin-bottom: 50px; } }
@media all and (max-width: 600px) {
  .key-advantage {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 20px; }
    .key-advantage-item {
      margin: 0 10px;
      margin-bottom: 50px; } }
.advantages {
  display: block;
  width: 100%; }
  .advantages__header {
    width: 100%;
    font-size: 32px;
    font-family: "Roboto";
    color: #333333;
    font-weight: bold;
    line-height: 1.188;
    text-align: center;
    padding: 65px 0; }
  .advantages__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .advantages__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 225px;
    height: 115px;
    margin: 0 50px;
    margin-bottom: 70px; }
    .advantages__item-container {
      height: 100%;
      padding-top: 20px; }
    .advantages__item-description {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 15px;
      font-size: 14px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.571;
      text-align: left; }
    .advantages__item-1 {
      background-image: url("../img/advantages/1.png");
      background-position: 30% 50%; }
    .advantages__item-2 {
      background-image: url("../img/advantages/2.png");
      background-position: 30% 50%; }
    .advantages__item-3 {
      background-image: url("../img/advantages/3.png");
      background-position: 30% 50%; }
    .advantages__item-4 {
      background-image: url("../img/advantages/4.png");
      background-position: 30% 50%; }
    .advantages__item-5 {
      background-image: url("../img/advantages/5.png");
      background-position: 30% 50%; }
    .advantages__item-6 {
      background-image: url("../img/advantages/6.png");
      background-position: 30% 50%; }
    .advantages__item-7 {
      background-image: url("../img/advantages/7.png");
      background-position: 30% 50%; }
    .advantages__item-8 {
      background-image: url("../img/advantages/8.png");
      background-position: 30% 50%; }
    .advantages__item-9 {
      background-image: url("../img/advantages/9.png");
      background-position: 30% 50%; }
    .advantages__item-10 {
      background-image: url("../img/advantages/10.png");
      background-position: 30% 50%; }
    .advantages__item-11 {
      background-image: url("../img/advantages/11.png");
      background-position: 30% 50%; }
    .advantages__item-12 {
      background-image: url("../img/advantages/12.png");
      background-position: 30% 50%; }

@media all and (min-width: 1500px) {
  .advantages__item {
    margin: 0 70px;
    margin-bottom: 70px; } }
@media all and (min-width: 1800px) {
  .advantages__item {
    margin: 0 100px;
    margin-bottom: 70px; } }
@media all and (max-width: 1320px) {
  .advantages__item {
    margin: 0 30px;
    margin-bottom: 70px; } }
@media all and (max-width: 1160px) {
  .advantages__item {
    margin: 0 10px;
    margin-bottom: 70px; } }
.help {
  position: relative;
  width: 100%;
  background-color: #f0f2f7;
  padding: 80px 0 40px 0; }
  .help__header {
    margin-bottom: 50px;
    font-size: 32px;
    font-family: "Roboto";
    color: #333333;
    font-weight: bold;
    line-height: 1.188;
    text-align: center; }
  .help__description {
    width: 100%;
    min-height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 20px; }
    .help__description-span {
      font-size: 16px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.5;
      text-align: center; }
      .help__description-span-a {
        text-transform: uppercase;
        color: #405fa8;
        text-decoration: none;
        font-weight: bold; }
    .help__description-logo {
      width: 120px;
      height: 25px;
      margin-left: 15px;
      background: url("../img/help/logo.png") no-repeat center;
      background-size: cover; }
  .help__container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .help__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 260px;
    margin: 0 60px;
    margin-bottom: 50px; }
    .help__item-price {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 24px;
      font-family: "Roboto";
      color: rgba(51, 51, 51, 0.659);
      line-height: 1.167; }
    .help__item-want {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 195px;
      height: 40px;
      border: 1px solid #005ead;
      border-radius: 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 24px;
      font-family: "Roboto";
      color: #005ead;
      line-height: 1.167; }
      .help__item-want:hover {
        color: #fff;
        background-color: #005ead;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease; }
    .help__item-image {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 260px;
      height: 160px;
      padding: 0 20px;
      font-size: 18px;
      font-family: "Roboto";
      color: #f0f2f7;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.222; }
      .help__item-image-1 {
        background: url("../img/help/1.png") no-repeat center;
        background-size: cover; }
      .help__item-image-2 {
        background: url("../img/help/2.png") no-repeat center;
        background-size: cover; }
      .help__item-image-3 {
        background: url("../img/help/3.png") no-repeat center;
        background-size: cover; }
      .help__item-image-4 {
        background: url("../img/help/4.png") no-repeat center;
        background-size: cover; }
      .help__item-image-5 {
        background: url("../img/help/5.png") no-repeat center;
        background-size: cover; }
    .help__item-title {
      font-size: 18px;
      font-family: "Roboto";
      color: #405fa8;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      padding: 20px 30px; }
    .help__item-click {
      font-size: 16px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.5;
      text-align: center;
      padding: 0 30px; }

.help__decor {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #f0f2f7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .help__decor-image {
    padding-top: 25px; }

@media all and (min-width: 1500px) {
  .help__item {
    margin: 0 70px;
    margin-bottom: 50px; } }
@media all and (min-width: 1800px) {
  .help__item {
    margin: 0 120px;
    margin-bottom: 50px; } }
@media all and (max-width: 1160px) {
  .help__item {
    margin: 0 33px;
    margin-bottom: 50px; } }
.insulation {
  width: 100%;
  min-height: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/insulation/background.jpg") no-repeat center;
  background-size: cover;
  padding: 40px 0; }
  .insulation__description {
    width: 404px; }
    .insulation__description-title {
      font-size: 23px;
      font-family: "Roboto";
      color: white;
      line-height: 1.167; }
    .insulation__description-line {
      width: 100px;
      height: 1px;
      background: #fff; }
    .insulation__description-text {
      font-size: 14px;
      font-family: "Roboto";
      color: white;
      line-height: 1.571; }
  .insulation__more {
    width: 300px;
    text-align: center; }
    .insulation__more-title {
      font-size: 24px;
      font-family: "Roboto";
      color: white;
      line-height: 0.917; }
    .insulation__more-link {
      margin-top: 10px;
      font-size: 18px;
      font-family: "Roboto";
      color: white;
      text-decoration: underline;
      text-transform: uppercase;
      line-height: 1.222; }

.╨₧╨╜_╨▓╤ü╨┐╨╛╨╝╨╜╨╕╨╗_╨╕_╤ü╨╛╨╛╨▒╤Ç╨░╨╖╨╕╨╗_╨▓╤ü╤æ_╨╛_╨ö╤â╨╜╨╡╤ç╨║╨╡__╨╕_╤ü╨╡╤Ç╨┤╤å╨╡ {
  font-size: 14px;
  font-family: "Roboto";
  color: white;
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 112px;
  top: 2836.365px;
  width: 403px;
  height: 80px;
  z-index: 99; }

.╨Ñ╨╛╤é╨╕╤é╨╡_╤â╨╖╨╜╨░╤é╤î_╨▒╨╛╨╗╤î╤ê╨╡_ {
  font-size: 24px;
  font-family: "Roboto";
  color: white;
  line-height: 0.917;
  text-align: center;
  position: absolute;
  left: 760.218px;
  top: 2801.051px;
  z-index: 104; }

.╨ö╨░__╤à╨╛╤ç╤â_ {
  font-size: 18px;
  font-family: "Roboto";
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1.222;
  text-align: center;
  position: absolute;
  left: 848px;
  top: 2853.043px;
  z-index: 103; }

@media all and (max-width: 430px) {
  .insulation__description {
    width: 300px;
    text-align: center; } }
.how-work {
  width: 100%;
  padding: 50px 0 70px 0;
  background-image: url("../img/header/bottom-line.png");
  background-size: 50%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box; }
  .how-work__title {
    margin: 0;
    font-size: 32px;
    font-family: "Roboto";
    color: #333333;
    font-weight: bold;
    text-align: center; }
  .how-work__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }
  .how-work__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 310px;
    height: 340px;
    background: url("../img/how-work/arrow.png") no-repeat;
    background-size: cover; }
    .how-work__item:last-child {
      background: none; }
    .how-work__item-text {
      display: block;
      width: 100%;
      height: 130px;
      margin-top: 25px;
      text-align: center;
      font-size: 16px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.5; }
    .how-work__item-image {
      width: 100%;
      height: 210px; }
      .how-work__item-image-1 {
        background: url("../img/how-work/1.png") no-repeat;
        background-position: 50% 100%; }
      .how-work__item-image-2 {
        background: url("../img/how-work/2.png") no-repeat;
        background-position: 50% 100%; }
      .how-work__item-image-3 {
        background: url("../img/how-work/3.png") no-repeat;
        background-position: 50% 100%; }
      .how-work__item-image-4 {
        background: url("../img/how-work/4.png") no-repeat;
        background-position: 50% 100%; }
  .how-work__questions {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: "Roboto";
    color: #2d4275;
    line-height: 1.167;
    text-align: center; }
    .how-work__questions-text {
      display: block;
      width: 100%;
      font-size: 14px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.571;
      text-align: center; }
  .how-work__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    margin-top: 25px; }
    .how-work__form-label {
      margin-right: 30px;
      font-size: 14px;
      font-family: "Roboto";
      color: rgba(51, 51, 51, 0.659);
      line-height: 2; }
    .how-work__form-input {
      width: 260px;
      height: 35px;
      background-color: #e3e7f2;
      padding: 0 10px;
      border: 1px solid #e3e7f2; }
      .how-work__form-input_error {
        border: 1px solid red; }
    .how-work__form-submit {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      width: 260px;
      height: 35px;
      border-radius: 20px;
      border: 1px solid #005ead;
      background-color: #005ead;
      color: #fff;
      font-weight: 300;
      text-transform: uppercase; }
      .how-work__form-submit:hover {
        color: #005ead;
        background-color: #fff;
        border-color: #005ead;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease; }
    .how-work__form-error {
      display: none; }
      .how-work__form-error_active {
        margin-top: 8px;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: red; }

@media all and (max-width: 1260px) {
  .how-work__item {
    margin: 0 70px; } }
@media all and (max-width: 930px) {
  .how-work__item {
    margin: 0; }

  .how-work__form-label,
  .how-work__form-submit {
    margin: 0 100px;
    margin-top: 20px; } }
.talk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 50px 0 100px; }
  .talk__title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 32px;
    font-family: "Roboto";
    color: #333333;
    font-weight: bold;
    line-height: 1.188;
    text-align: center; }
  .talk__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .talk__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px; }
    .talk__item-image {
      width: 230px;
      height: 130px;
      margin-bottom: 20px; }
      .talk__item-image-1 {
        background: url("../img/talk/talk-1.png") no-repeat;
        background-size: cover; }
      .talk__item-image-2 {
        background: url("../img/talk/talk-2.png") no-repeat;
        background-size: cover; }
      .talk__item-image-3 {
        background: url("../img/talk/talk-3.png") no-repeat;
        background-size: cover; }
      .talk__item-image-4 {
        background: url("../img/talk/talk-4.png") no-repeat;
        background-size: cover; }
    .talk__item-name {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      display: block;
      padding-left: 20px;
      margin-bottom: 10px;
      font-size: 24px;
      font-family: "Roboto";
      color: #333333;
      line-height: 0.917; }
    .talk__item-car {
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      display: block;
      padding-left: 20px;
      font-size: 18px;
      font-family: "Roboto";
      color: rgba(64, 95, 168, 0.549);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.222; }
    .talk__item-wrapper {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 270px;
      margin-top: 30px; }
      .talk__item-wrapper-text {
        display: block;
        width: 230px;
        font-size: 14px;
        font-family: "Roboto";
        color: #333333;
        font-style: italic;
        line-height: 1.571; }
      .talk__item-wrapper-before {
        position: absolute;
        top: 2px;
        left: -2px;
        display: block;
        width: 18px;
        height: 18px;
        background: url("../img/talk/open-quote.png") no-repeat; }
      .talk__item-wrapper-after {
        position: absolute;
        bottom: 2px;
        right: -2px;
        display: block;
        width: 18px;
        height: 18px;
        background: url("../img/talk/close-qoute.png") no-repeat; }

@media all and (max-width: 1100px) {
  .talk__item {
    margin: 0 50px;
    margin-bottom: 30px; } }
@media all and (max-width: 760px) {
  .talk__item {
    margin: 0 10px;
    margin-bottom: 30px; } }
.certificate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  background: url("../img/certificate/background.jpg") no-repeat center;
  background-size: cover; }
  .certificate__dinitrol {
    display: block; }
    .certificate__dinitrol-off {
      display: block;
      font-size: 24px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.583;
      text-align: center; }
    .certificate__dinitrol-din {
      display: block;
      font-size: 28px;
      font-weight: bold;
      font-family: "Roboto";
      color: #005ead;
      line-height: 1.583;
      text-align: center; }
  .certificate__show {
    position: relative;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 250px;
    height: 250px;
    overflow: hidden; }
    .certificate__show-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 50px; }
      .certificate__show-wrapper-loop {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.8;
        background: #fff url("../img/certificate/loop.png") no-repeat 55% 55%; }
        .certificate__show-wrapper-loop:hover {
          background: #5570ae url("../img/certificate/loop-white.png") no-repeat 55% 55%;
          -webkit-transition: background-color 0.3s ease;
                  transition: background-color 0.3s ease; }

@media all and (max-width: 665px) {
  .certificate {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%;
    padding-top: 30px; }
    .certificate__dinitrol {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      margin: 0 40px; }
    .certificate__show {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }
.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .contacts__questions {
    padding: 70px 60px 15px 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 427px; }
    .contacts__questions-title {
      width: 175px;
      margin: 0;
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.167;
      text-align: left; }
    .contacts__questions-copyright {
      display: block;
      font-size: 12px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.2;
      text-align: center; }
    .contacts__questions-text {
      display: block;
      width: 210px;
      margin: 0;
      margin-bottom: 20px;
      font-size: 14px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.571;
      text-align: left; }
    .contacts__questions-form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 100px; }
      .contacts__questions-form-label {
        margin-bottom: 10px;
        font-size: 14px;
        font-family: "Roboto";
        color: rgba(51, 51, 51, 0.659);
        line-height: 2; }
      .contacts__questions-form-input {
        width: 260px;
        height: 45px;
        background-color: #e3e7f2;
        padding: 0 10px;
        font-size: 16px;
        font-family: "Roboto";
        color: #405fa8;
        line-height: 1.375;
        border: 1px solid #e3e7f2; }
        .contacts__questions-form-input_error {
          border: 1px solid red; }
      .contacts__questions-form-submit {
        width: 260px;
        height: 45px;
        margin-top: 25px;
        border-radius: 20px;
        border: 1px solid #005ead;
        background-color: #005ead;
        color: #fff;
        font-weight: 300;
        text-transform: uppercase; }
        .contacts__questions-form-submit:hover {
          color: #005ead;
          background-color: #fff;
          border-color: #005ead;
          -webkit-transition: all 0.3s ease;
                  transition: all 0.3s ease; }
      .contacts__questions-form-error {
        display: none; }
        .contacts__questions-form-error_active {
          margin-top: 8px;
          display: block;
          width: 100%;
          text-align: center;
          font-size: 14px;
          color: red; }
  .contacts__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .contacts__address {
    padding-top: 70px;
    padding-bottom: 25px; }
    .contacts__address-title {
      width: 170px;
      margin: 0;
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "Roboto";
      color: #333333;
      line-height: 1.167;
      text-align: left; }
    .contacts__address-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .contacts__address-wrapper-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-right: 45px; }
        .contacts__address-wrapper-list:last-child {
          margin-right: 0; }
        .contacts__address-wrapper-list-item {
          font-size: 18px;
          font-family: "Roboto";
          color: #333333;
          line-height: 1.333;
          text-align: left; }
  .contacts__map {
    width: calc(100vw - 427px);
    height: 375px; }

@media all and (max-width: 1000px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .contacts__questions {
      padding: 30px 30px 15px 30px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
      .contacts__questions-form {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 30px; }
      .contacts__questions-title, .contacts__questions-text {
        width: 100%;
        text-align: center; }
    .contacts__map {
      width: 100%; }
    .contacts__address {
      padding-top: 25px; }
      .contacts__address-title {
        width: 100%;
        text-align: center; }
      .contacts__address-wrapper {
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
@media all and (max-width: 500px) {
  .contacts__address-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contacts__address-wrapper-list {
      margin: 0;
      margin-bottom: 10px; } }
.modalForm {
  width: 310px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .modalForm__title {
    margin: 0;
    display: block;
    font-size: 24px;
    font-family: "Roboto";
    color: #333333;
    line-height: 1.167;
    text-align: left; }
  .modalForm__text {
    display: block;
    font-size: 18px;
    font-family: "Roboto";
    color: #405fa8;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 10px;
    text-transform: uppercase; }
  .modalForm-label {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.659);
    line-height: 2;
    text-align: left; }
  .modalForm-input {
    width: 260px;
    height: 45px;
    background-color: #e3e7f2;
    padding: 0 10px;
    font-size: 16px;
    font-family: "Roboto";
    color: #405fa8;
    line-height: 1.375; }
  .modalForm-submit {
    width: 260px;
    height: 45px;
    margin-top: 25px;
    border-radius: 20px;
    border: 1px solid #005ead;
    background-color: #005ead;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase; }
    .modalForm-submit:hover {
      color: #005ead;
      background-color: #fff;
      border-color: #005ead;
      -webkit-transition: all 0.3s ease;
              transition: all 0.3s ease; }
  .modalForm__bottom {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-family: "Roboto";
    color: #333333;
    line-height: 1.2;
    text-align: center; }
