.contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;

  &__questions {
    padding: 70px 60px 15px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 427px;

    &-title {
      width: 175px;
      margin: 0;
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "Roboto", san-serif;
      color: rgb(51, 51, 51);
      line-height: 1.167;
      text-align: left;
    }

    &-copyright {
      display: block;
      font-size: 12px;
      font-family: "Roboto", san-serif;
      color: rgb(51, 51, 51);
      line-height: 1.2;
      text-align: center;
    }

    &-text {
      display: block;
      width: 210px;
      margin: 0;
      margin-bottom: 20px;
      font-size: 14px;
      font-family: "Roboto", san-serif;
      color: rgb(51, 51, 51);
      line-height: 1.571;
      text-align: left;
    }

    &-form {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 100px;

      &-label {
        margin-bottom: 10px;
        font-size: 14px;
        font-family: "Roboto", san-serif;
        color: rgba(51, 51, 51, 0.659);
        line-height: 2;
      }

      &-input {
        width: 260px;
        height: 45px;
        background-color: #e3e7f2;
        padding: 0 10px;
        font-size: 16px;
        font-family: "Roboto", san-serif;
        color: rgb(64, 95, 168);
        line-height: 1.375;
        border: 1px solid #e3e7f2;

        &_error {
          border: 1px solid red;
          transition: border-color 0.3s ease-out;
        }
      }

      &-submit {
        width: 260px;
        height: 45px;
        margin-top: 25px;
        border-radius: 20px;
        border: 1px solid #005ead;
        background-color: #005ead;
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Roboto', san-serif;

        &:hover {
          color: #005ead;
          background-color: #fff;
          border-color: #005ead;
          transition: all 0.3s ease;
          cursor: pointer;
        }
      }

      &-error {
        display: none;

        &_active {
          margin-top: 8px;
          display: block;
          width: 100%;
          text-align: center;
          font-size: 14px;
          color: red;
        }
      }
    }
  }

  &__wrapper {
    flex-grow: 1;
  }

  &__address {
    padding-top: 70px;
    padding-bottom: 25px;

    &-title {
      width: 170px;
      margin: 0;
      margin-bottom: 20px;
      font-size: 24px;
      font-family: "Roboto", san-serif;
      color: rgb(51, 51, 51);
      line-height: 1.167;
      text-align: left;
    }

    &-wrapper {
      display: flex;

      &-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-right: 45px;

        &:last-child {
          margin-right: 0;
        }

        &-item {
          font-size: 18px;
          font-family: "Roboto", san-serif;
          color: rgb(51, 51, 51);
          line-height: 1.333;
          text-align: left;
        }
      }
    }
  }

  &__map {
    position: relative;
    width: calc(100vw - 427px);
    height: 375px;

    &-shadow {
      box-shadow: inset 0px 3px 15px 0px rgba(0, 0, 0, 0.33);
    }
  }
}

@media all and (max-width: 1000px) {
  .contacts {
    flex-direction: column-reverse;

    &__questions {
      padding: 30px 30px 15px 30px;
      align-items: center;
      width: 100%;

      &-form {
        align-items: center;
        margin-bottom: 30px;
      }

      &-title,
      &-text {
        width: 100%;
        text-align: center;
      }
    }

    &__map {
      width: 100%;
    }

    &__address {
      padding-top: 25px;

      &-title {
        width: 100%;
        text-align: center;
      }

      &-wrapper {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

@media all and ( max-width: 500px )  {
  .contacts__address-wrapper {
    flex-direction: column;
    align-items: center;

    &-list {
      margin: 0;
      margin-bottom: 10px;
    }
  }
}
