.insulation {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  background: url("../img/insulation/background.jpg") no-repeat center;
  background-size: cover;
  padding: 40px 0;

  &__container-adaptive {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__description {
    width: 404px;

    &-title {
      font-size: 23px;
      font-family: "Roboto", san-serif;
      color: rgb(255, 255, 255);
      line-height: 1.167;
    }

    &-line {
      width: 100px;
      height: 1px;
      background: #fff;
    }

    &-text {
      font-size: 14px;
      font-family: "Roboto", san-serif;
      color: rgb(255, 255, 255);
      line-height: 1.571;
    }
  }

  &__more {
    width: 300px;
    text-align: center;

    &-title {
      font-size: 24px;
      font-family: "Roboto", san-serif;
      color: rgb(255, 255, 255);
      line-height: 0.917;
    }

    &-link {
      margin-top: 10px;
      font-size: 18px;
      font-family: "Roboto", san-serif;
      color: rgb(255, 255, 255);
      text-decoration: underline;
      text-transform: uppercase;
      line-height: 1.222;
    }
  }
}

@media all and (max-width: 1200px) {
  .insulation__container-adaptive {
    width: 100%;
  }
}

@media all and (max-width: 430px) {
  .insulation__description {
    width: 300px;
    text-align: center;
  }
}



