.key-advantage {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 70px 0;
  background-image: url("../img/header/bottom-line.png");
  background-size: 50%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    height: 240px;
    overflow: hidden;

    &__rectangle {
      position: absolute;
      top: 28px;
      left: 30px;
      transform: rotate(45deg);
      display: block;
      width: 140px;
      height: 140px;
      border-radius: 2px;
      background-color: #f4f6fa;
      z-index: 100;
    }

    &__description {
      position: relative;
      display: block;
      height: 70px;
      font-size: 16px;
      font-family: "Roboto", san-serif;
      color: rgb(51, 51, 51);
      line-height: 1.5;
      text-align: center;
      z-index: 101;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transform: rotate(-45deg);
    }
    
    &__image1 {
      background: url("../img/header/year.png") no-repeat center;
    }

    &__image2 {
      background: url("../img/header/cars.png") no-repeat center;
    }

    &__image3 {
      background: url("../img/header/garanty.png") no-repeat center;
    }

    &__image4 {
      background: url("../img/header/certificate.png") no-repeat center;
    }
  }
}

.key-advantage__decor {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &-image {
    padding-top: 25px;
  }
}

@media all and ( max-width: 1000px ) {
  .key-advantage {
    flex-wrap: wrap;
    padding-bottom: 20px;
    &-item {
      margin: 0 7vw;
      margin-bottom: 50px;
    }
  }
}

@media all and ( max-width: 600px ) {
  .key-advantage {
    flex-wrap: wrap;
    padding-bottom: 20px;
    &-item {
      margin: 0 10px;
      margin-bottom: 50px;
    }
  }
}




