.navbar {
  transform: translateY(-50px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease;
  background: #fff;
  width: 100%;
  height: 50px;
  will-change: unset;

  &__logo {
    width: 30px;
    height: 30px;
    background-image: url("../img/header/logo.png");
    background-size: cover;
  }

  &__call {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 26px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #005ead;
    border-radius: 12px;
    background-color: #fff;
    color: #005ead;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      background-color: #005ead;
      transition: all 0.3s ease;
    }
  }

  &__phone {
    font-size: 18px;
    line-height: 22px;
    font-family: "Roboto";
    color: rgb(64, 95, 168);
    font-weight: bold;
    text-align: center;
  }
}

.navbar_fixied {
  z-index: 100000000000000000;
  transform: translateY(0);
  will-change: transform;
}

.fornavbar {
  height: 3000px;
}

@media all and (max-width: 400px) {
  .navbar {
    justify-content: space-around;

    &__logo {
      display: none;
    }
  }
}