.offer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 590px;
  background: url("../img/offer/backk.jpg") no-repeat center;
  background-size: cover;

  &__container-adaptive {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-wrapper {
    display: flex;
    height: 100%;
  }

  &-inspection {
    display: none;
    width: 300px;
    height: 260px;
    background: url("../img/offer/inspection.png") no-repeat center;
    background-size: cover;
    align-self: flex-end;
    margin-bottom: 111px;
  }

  &-information {
    display: block;
    width: 360px;
    height: 100%;
    padding-top: 60px;

    &__header {
      display: block;
      font-size: 42px;
      font-family: "Roboto", san-serif;
      color: rgb(64, 95, 168);
      font-weight: bold;
      line-height: 1.19;
    }

    &__line {
      width: 124px;
      height: 1px;
      margin: 20px 0;
      background-color: #fff;
    }

    &__list {
      padding-left: 17px;
      margin: 0;

      &-item {
        font-size: 18px;
        font-family: "Roboto", san-serif;
        color: rgb(255, 255, 255);
        line-height: 1.333;
        text-align: left;
        margin-bottom: 10px;
      }
    }
  }

  &-sign {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100%;
    padding-top: 65px;

    &__header {
      flex-shrink: 0;
      display: block;
      font-size: 24px;
      font-family: "Roboto", san-serif;
      color: rgb(255, 255, 255);
      line-height: 1.167;
      text-align: left;
      margin-bottom: 20px;
    }

    &__description {
      flex-shrink: 0;
      display: block;
      font-size: 18px;
      font-family: "Roboto", san-serif;
      color: rgb(255, 158, 2);
      line-height: 1.333;
      text-align: left;
      margin-bottom: 30px;
    }

    &__form {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 260px;

      &-label {
        font-size: 14px;
        font-family: "Roboto", san-serif;
        color: rgb(255, 255, 255);
        line-height: 1.571;
      }

      &-input {
        width: 260px;
        height: 40px;
        border: 1px solid #fff;
        background-color: #9ca0a5;
        margin-bottom: 10px;
        padding: 0 10px;
        font-size: 16px;
        font-family: "Roboto", san-serif;
        color: rgb(64, 95, 168);
        line-height: 1.375;

        &_error {
          border: 1px solid red;
          transition: border-color 0.3s ease-out;
        }
      }

      &-submit {
        width: 260px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #005ead;
        background-color: #005ead;
        color: #fff;
        text-transform: uppercase;
        margin-top: 15px;

        &:hover {
          color: #fff;
          border-color: #fff;
          background-color: transparent;
          transition: all 0.3s ease;
          cursor: pointer;
        }
      }

      &-error {
        display: none;

        &_active {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 14px;
          color: red;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .offer__container-adaptive {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  .offer {
    height: 100%;
    min-height: 590px;
    background: url("../img/offer/backkWith.jpg") no-repeat center;
    background-size: cover;

    &__container-adaptive {
      height: 100%;
      flex-direction: column;
      padding-bottom: 70px;
    }

    &-wraper {
      flex-shrink: 0;
    }

    &-information {
      flex-shrink: 0;
      padding-top: 30px;
    }

    &-sign__form {
      flex-shrink: 0;
      align-self: center;
    }
  }
}

@media all and (max-width: 730px) {
  .offer-inspection {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .offer {
    min-height: 940px;
  }

  .offer-information {
    width: 100%;
    //min-height: 310px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .offer-sign {
    width: 100%;
    //min-height: 471px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

