.talk {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0 100px;
  background-color: #fff;

  &__container-adaptive {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 32px;
    font-family: "Roboto", san-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.188;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;

    &-image {
      width: 230px;
      height: 130px;
      margin-bottom: 20px;

      &-1 {
        background: url("../img/talk/talk-1.png") no-repeat;
        background-size: cover;
      }

      &-2 {
        background: url("../img/talk/talk-2.png") no-repeat;
        background-size: cover;
      }

      &-3 {
        background: url("../img/talk/talk-3.png") no-repeat;
        background-size: cover;
      }

      &-4 {
        background: url("../img/talk/talk-4.png") no-repeat;
        background-size: cover;
      }
    }

    &-name {
      align-self: flex-start;
      display: block;
      padding-left: 20px;
      margin-bottom: 10px;
      font-size: 24px;
      font-family: "Roboto", san-serif;
      color: rgb(51, 51, 51);
      line-height: 0.917;
    }

    &-car {
      align-self: flex-start;
      display: block;
      padding-left: 20px;
      font-size: 18px;
      font-family: "Roboto", san-serif;
      color: rgba(64, 95, 168, 0.549);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.222;
    }

    &-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      width: 270px;
      margin-top: 30px;

      &-text {
        display: block;
        width: 230px;
        font-size: 14px;
        font-family: "Roboto", san-serif;
        color: rgb(51, 51, 51);
        font-style: italic;
        line-height: 1.571;
      }

      &-before {
        position: absolute;
        top: 2px;
        left: -2px;
        display: block;
        width: 18px;
        height: 18px;
        background: url("../img/talk/open-quote.png") no-repeat;
      }

      &-after{
        position: absolute;
        bottom: 2px;
        right: -2px;
        display: block;
        width: 18px;
        height: 18px;
        background: url("../img/talk/close-qoute.png") no-repeat;
      }
    }
  }
}

@media all and (max-width: 1200px){
  .talk__container-adaptive {
    width: 100%;
  }
}

@media all and (max-width: 1100px) {
  .talk__item {
    margin: 0 50px;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 760px) {
  .talk__item {
    margin: 0 10px;
    margin-bottom: 30px;
  }
}







